<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dobot Controller</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />
</head>

<body>
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title">Dobot Controller</h1>
            <p class="subtitle">Control yout dobot!</p>
            <p></p>
        </div>

        <div class="columns">
            <div class="column" hx-get="http://localhost:5000/input-fields" hx-swap="innerHTML" hx-trigger="load"></div>
            <div class="column" hx-get="http://localhost:5000/current-fields" hx-swap="innerHTML"
                hx-trigger="load, every 500ms"></div>
        </div>
        <div class="buttons">
            <button class="button is-info" hx-get="/home" hx-swap="none">
                Home
            </button>
            <button class="button is-info" hx-get="/toggle-tool" hx-swap="none">
                Toggle suction
            </button>
            <button class="button is-primary" hx-post="/move" hx-ext="json-enc" hx-swap="none"
                hx-include="[name='x'], [name='y'], [name='z'], [name='r']">
                Submit
            </button>
            <button class="button is-danger" hx-get="/disconnect">
                Disconnect
            </button>
        </div>
    </section>
</body>

</html>
